/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400;1,700&display=swap');

/* CSS variables Declaration */
:root {
  /* colors */
  --primary: #08fdd8;
  --primary-200: #14c1a7;
  --primary-400: #208677;
  --primary-700: #1b4741;
  --primary-900: #001111;
  --primary-901: #001416;

  /*  */
  --primary-gray: #829898;
  --primary-light: #dffffd;
  --primary-light-1: #bed7d2;
  --gray-600: #878989;
  --gray-400: #a6b6b6;
  --gray-200: #c9c9c9;

  --light: #ffffff;
  --dark: #000909;

  /* sizes */
  --s-04: 0.4rem;
  --s-06: 0.6rem;
  --s-07: 0.7rem;
  --s-08: 0.8rem;
  --s-10: 1rem;
  --s-12: 1.2rem;
  --s-14: 1.4rem;
  --s-16: 1.6rem;
  --s-20: 2rem;
  --s-24: 2.4rem;
  --s-30: 3rem;
  --s-35: 3.5rem;
  --s-40: 4rem;
  --s-50: 5rem;
  --s-80: 8rem;

  --shape-size: 350px;

  --max-width: 1200px;
  --top-header-height: 4rem;

  /* font */
  --font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (min-width: 600px) {

  /* Reassign variable for bigger screen  */
  :root {
    --shape-size: 750px;
  }
}

html {
  box-sizing: border-box;
  font-size: 14pt;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: var(--font-family);
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-900);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* Generic Utilities */
/* Layouts */
.flx-row {
  display: flex;
  flex-direction: row;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-x-center {
  align-items: center;
}

.flx-y-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.width-full {
  width: 100%;
}

.width-l-75 {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .width-l-75 {
    width: 75%;
  }
}

.height-100 {
  height: 100%;
}

.full-page {
  width: 100%;
  height: 100vh;
}

/* Paddings */
.pad-0 {
  padding: 0;
}

.pad-06 {
  padding: var(--s-06);
}

.pad-1 {
  padding: var(--s-10);
}

.pad-3 {
  padding: var(--s-30) var(--s-20);
}

@media screen and (min-width: 767px) {
  .pad-3 {
    padding: var(--s-30);
  }
}

.pad-4 {
  padding: var(--s-40);
}

/* Margin */
.mar-btm-20 {
  margin-bottom: var(--s-20);
}

/*  */

/* Lists */
li {
  margin-bottom: var(--s-10);
}

/* Buttons */
button {
  font-size: 1rem;
  background-color: transparent;
  padding: 0.8rem 1.6rem;
  outline: none;
  border: 1px Solid;
  width: fit-content;
  letter-spacing: 0.2rem;
  border-radius: 0.4rem;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

button.primary {
  border-color: var(--primary);
  color: var(--primary);
}

button.primary:hover {
  background-color: var(--primary);
  color: var(--primary-900);
}

/* Headings */
.h9 {
  margin-bottom: 1.6rem;
  font-size: var(--s-35);
  font-weight: 700;
}

.h8 {
  font-size: var(--s-35);
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.h7 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.h6 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.h5 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.h4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 600px) {
  .h9 {
    font-size: var(--s-40);
    font-weight: 800;
  }
}

/* Sub Headings */
.sub-h-4 {
  font-size: var(--s-16);
  color: var(--primary-gray);
  margin-bottom: var(--s-10);
  ;
  line-height: var(--s-18);
}

.sub-h-3 {
  font-size: var(--s-12);
  color: var(--primary-gray);
  margin-bottom: var(--s-10);
  ;
  line-height: var(--s-14);
}

.sub-h-2 {
  font-size: var(--s-10);
  color: var(--primary-gray);
  margin-bottom: var(--s-10);
  ;
}

.sub-h-1 {
  font-size: var(--s-08);
  color: var(--primary-gray);
  margin-bottom: var(--s-10);
  ;
}

/* Pragraphs */

.p1 {
  font-size: 1.1rem;
  color: var(--primary-gray);
  line-height: var(--s-14);
  margin-bottom: var(--s-10);
}

.p2 {
  font-size: var(--s-10);
  color: var(--primary-gray);
  line-height: var(--s-12);
}

/* Fonts */
.color-primary {
  color: var(--primary);
}

.color-primary-light {
  color: var(--primary-light);
}

.color-gray {
  color: var(--primary-gray);
}

.color-primary-dark {
  color: var(--primary-900);
}

.ls1 {
  letter-spacing: 0.05rem;
}

.fw-600 {
  font-weight: 600;
}

.tt-up {
  text-transform: uppercase;
}

.tt-lw {
  text-transform: lowercase;
}


/* App styles */
#full-page-container {
  color: var(--light);
}

#section-container {
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
  background-color: var(--primary);
}

.max-width {
  max-width: var(--max-width);
  margin: auto;
}

/* Navigation */
.navigation {
  z-index: 10;
  backdrop-filter: blur(20px);
  /* background-color: var(--primary-900); */
  /* box-shadow: -1px -1px 8px -4px var(--primary); */
}

.nav-top {
  height: var(--top-header-height);
  position: fixed;
  top: 0;
  left: 0;
}

.nav-pad {
  padding-right: var(--s-20);
  padding-left: var(--s-20);
}

.nav-link {
  display: inline-block;
  padding: 1.2rem 0.5rem;
  color: var(--light);
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--primary);
}

@media screen and (min-width: 600px) {
  .nav-pad {
    padding-right: var(--s-30);
    padding-left: var(--s-30);
  }

  .nav-link {
    padding: 1.2rem;
  }
}

.pad-0 {
  padding: 0;
}

/* End  Navigation */

.page-section {
  position: relative;
  padding-top: var(--top-header-height);
}

.page-section:nth-child(odd) {
  background-color: var(--primary-900);
}

.page-section:nth-child(even) {
  background-color: var(--primary-901);
}

.bd-text::after {
  content: attr(data-backdrop-legend);
  position: absolute;
  bottom: 4rem;
  left: 0px;
  font-size: 400px;
  color: var(--gray-400);
  opacity: 0.05;
  z-index: 0;
  transform: rotate(-15deg);
  filter: blur(10px);
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.9);
}

.bd-shape::after {
  content: "";
  position: absolute;
  width: var(--shape-size);
  height: var(--shape-size);
  bottom: -100px;
  right: -100px;
  background-color: var(--primary-light);
  border-radius: 50%;
  opacity: 0.08;
  z-index: 0;
  filter: blur(10px);
}

.bd-image {
  position: relative;
}
.bd-image::after {
  content: "";
  background-image: url('../images/logo-half-dark.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  position: absolute;
  right: -10%;
  width: 800px;
  height: 600px;
  z-index: 0;
  filter: blur(10px);
  opacity: 0.55;
  top: -240px;
}

/* Hero Banner */
.hero-banner {
  position: relative;
  gap: 4rem;
  height: 100%;
  padding: var(--s-50) var(--s-20) var(--s-80);
  z-index: inherit;
}

@media screen and (min-width: 600px) {
  .hero-banner {
    padding: var(--s-50) var(--s-30) var(--s-80);
  }
}

/* Skill List */

.skills-list {
  margin-top: var(--s-10);
}

.skills-list ul {
  width: 32%;
}

.skills-list li::after {
  content: "";
  height: var(--s-04);
  width: var(--data-width);
  display: block;
  background-color: var(--primary-400);
  margin-top: var(--s-06);
  border-radius: 2px;
}


/* Canvas Skill Graph */
/* canvas {
  border: 1px solid var(--primary);
} */


/* Experience Timeline */
.timeline {
  position: relative;
  letter-spacing: 0.05rem;
  margin: auto 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: var(--primary-700);
  top: 10px;
  bottom: 0;
}

.timeline .centered-txt {
  position: relative;
  top: -10px;
  color: var(--primary-400);
  font-size: var(--s-08);
}

.timeline li {
  position: relative;
  padding: 0 var(--s-10);
  margin-bottom: 0;
  margin-left: var(--s-40);
}

.timeline li::before {
  content: attr(data-start-date);
  font-size: var(--s-08);
  color: var(--primary-400);
  position: relative;
  top: 20px;
  left: -64px;
}

.timeline .sub-h-2 {
  margin-bottom: var(--s-04);
}

@media screen and (min-width: 767px) {
  .timeline::after {
    left: 50%;
  }

  .timeline .centered-txt {
    text-align: center;
  }

  .timeline li {
    width: 42%;
    margin-left: unset;
  }

  .timeline li:nth-child(odd) {
    text-align: right;
  }

  .timeline li:nth-child(odd)::before {
    right: calc(-4% - 55px);
    left: unset;
  }

  .timeline li:nth-child(even) {
    margin-left: 58%;
  }

  .timeline li:nth-child(even)::before {
    left: calc(-4% - 55px);
  }
}

/* Contact */
.contact-container {
  background-color: var(--primary-400);
}

.icons-container {
  margin-top: var(--s-14);
  display: flex;
  gap: var(--s-10);
}

.icons {
  display: inline-block;
  width: var(--s-24);
  height: var(--s-24);
  border-radius: 8px;
  padding: var(--s-04);
  border: 1px solid var(--primary-900);
  transition: border 0.3s ease-in;
}

.icons path {
  fill: var(--primary-900);
  transition: fill 0.3s ease-in;
}

.fxd-bottom {
  bottom: 0;
}

.icons-container a:hover > .icons path {
  fill: var(--primary);
}

.icons-container a:hover > .icons {
  border-color: var(--primary);
}

/*  */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--s-14);
}

.pf-item {
  width: 30%;
  min-width: 336px;
  border: 1px solid var(--primary-700);
  padding: var(--s-14);
  border-radius: var(--s-04);
  z-index: 1;
}

.pf-item .p2 {
  color: var(--primary-light-1);
  margin-bottom: auto;
}

/* .terms {
  color: var(--primary-400)
} */


.dev-icons-container {
  margin-top: var(--s-08);
  display: flex;
  gap: var(--s-06);
}

.dev-icons-container .icons {
  width: var(--s-12);
  height: var(--s-12);
  padding: 0;
}

.dev-icons-container > .icons path {
  fill: var(--primary-light-1);
}

.dev-icons-container .icons:hover >  path {
  fill: var(--primary);
}